{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
    "no-empty": "warn",
    "prefer-const": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "no-param-reassign": ["error", { "props": false }],
    "import/no-extraneous-dependencies":[
      "error",
      {
         "devDependencies":[
            "**/*.test.ts",
            "**/*.test.tsx"
         ]
      }
    ]
  },
  "ignorePatterns": ["vite.config.ts"]
}